/*==============================================================================*/
/* CSS Reset */
/*==============================================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

/*==============================================================================*/
/* General */
/*==============================================================================*/
html,
body {
	height: 100%;	
}

body {
	background: #f7f6f1;
	color: #5c5952;
	font: normal 100%/1.5 'helvetica neue', helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;	
}

.container {	
	margin: 0 auto;
	padding: 0 0 30px;
	width: 800px;
}

.no-canvas .container {
	height: auto;	
}

/*==============================================================================*/
/* Typography */
/*==============================================================================*/
h3 {
	color: #a49e90;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -1px;
	margin: 0 0 30px;
	text-shadow: 0 1px 0 #fff;
}

a {
	color: #cc5c4d;
	text-decoration: none;	
}

a,
button {
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}

a:hover,
a:focus {
	color: #a74b3f;
	transition: none;
}

a:active {
	opacity: .5;
	transition: none;
}

p {
	font-size: 14px;
	margin: 0 0 20px;	
}

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
	font-weight: normal !important;	
}

::-moz-selection {
	background: #f2ebc5 !important;
	color: #5c5952 !important;
	text-shadow: none !important;
}

::selection {
	background: #f2ebc5 !important;	
	color: #5c5952 !important;
	text-shadow: none !important;
}

/*==============================================================================*/
/* Navigation */
/*==============================================================================*/
nav {
	background: #5c5952;
	height: 40px;
	margin: 0 0 30px;
	text-align: left;
}

nav .inner {
	margin: 0 auto;
	width: 800px;	
}

nav a {
	color: #f7f6f1;
	display: block;
	float: left;
	font-family: 'vinyl', 'helvetica neue', helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	position: relative;
	text-transform: uppercase;
}

nav a:hover,
nav a:focus {
	background: #3f3d37;
	color: #f7f6f1;
}

nav a.current {
	background: #837e73;
}

nav a.current:before {
	border-top: 6px solid #837e73;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	bottom: -6px;
	content: '';
	left: 50%;
	margin: 0 0 0 -6px;
	position: absolute;
}

/*==============================================================================*/
/* Header */
/*==============================================================================*/
header {
	font-family: 'vinyl', 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0 0 30px;	
}

h1 {
	float: left;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: -1px;	
	text-shadow: 0 1px 0 #fff;
	text-transform: uppercase;
}

h1 a {
	color: #5c5952;	
}

h1 a:hover,
h1 a:focus {
	color: #898375;	
}

h2 {
	display: inline-block;
	float: right;
	font-size: 16px;
	font-weight: 400;	
	text-transform: uppercase;
	vertical-align: middle;
}

h2 i {
	background: #fff;
	border-bottom: 3px solid #e5ddc8;
	display: inline-block;
	font-size: 18px;
	font-style: normal;
	height: 30px;
	line-height: 30px;
	margin: 0 3px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 36px;	
}

h2 i.last {
	margin-right: 0;
}

h2 span {
	color: #bdb295;
	padding: 0 10px;	
	text-shadow: 0 1px 0 #fff;	
}

h2 span:last-child {
	padding-right: 0;	
}

/*==============================================================================*/
/* Loader */
/*==============================================================================*/
.loader {
	background: rgba(250, 235, 215, .6);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;	
	right: 0;
	top: 0;	
	z-index: 10;
}

.loader img {
	border-radius: 100%;
	display: block;
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
}

/*==============================================================================*/
/* Canvas */
/*==============================================================================*/
.canvas-wrap {
	clear: both;
	margin: 0 0 40px;
	position: relative;
}

.canvas-wrap canvas {
	display: block;
	margin: 0;	
}

.canvas-wrap .placeholder {
	display: block;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
}

/*==============================================================================*/
/* Controls */
/*==============================================================================*/
.no-canvas .controls {
	display: none;	
}

button {
	background: none;
	border: none;
	box-sizing: border-box;	
	color: #5c5952;
	cursor: pointer;
	display: block;
	float: left;
	font: 400 18px/50px 'vinyl', 'helvetica neue', helvetica, arial, sans-serif;
	height: 60px;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
	width: 20%;
}

button.disabled {
	cursor: not-allowed;
	opacity: 0.3;	
}

button span:before {
	color: #a49a80;
	margin: 0 3px 0 0;
}

button:hover,
button:focus {
	background: #e5ddc8;
	color: #43413c;
	transition: none;
}

button:active {
	opacity: 0.5;
	transition: none;
}

button.disabled:hover,
button.disabled:focus {
	background: none;
	color: #5c5952;
	transition: none;
}

button.disabled:active {
	opacity: 0.3;
	transition: none;
}

/*==============================================================================*/
/* Skitch Grid */
/*==============================================================================*/
.skitch-grid {
		
}

.skitch-grid a {
	display: block;
	float: left;
	margin: 0 30px 30px 0;
	-webkit-transform: translateZ(0);
}	

.skitch-grid a.last {
	margin-right: 0;	
}

.skitch-grid a img {
	display: block;
	width: 385px;	
}

/*==============================================================================*/
/* Footer */
/*==============================================================================*/
footer {
	
}

footer p {
	color: #afa48a;
	font: normal 12px/1 'helvetica neue', helvetica, arial, sans-serif;
	margin: 0;	
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}

footer span {
	color: #afa48a;
	margin: 0 10px;
}

/*==============================================================================*/
/* Miscellaneous */
/*==============================================================================*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

hr {
	border: none;
	border-bottom: 3px double #e5ddc8;
	clear: both;
	display: block;
	margin: 0 0 40px;
}