/*==============================================================================*/
/* CSS Reset */
/*==============================================================================*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; border:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted #000; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}

/*==============================================================================*/
/* Fontello Icon @font-face */
/*==============================================================================*/
@font-face {
	font-family: 'fontello';
	src: url("../font/fontello.eot?25517083");
	src: url("../font/fontello.eot?25517083#iefix") format('embedded-opentype'), url("../font/fontello.woff?25517083") format('woff'), url("../font/fontello.ttf?25517083") format('truetype'), url("../font/fontello.svg?25517083#fontello") format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: 'fontello';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
}

.icon-pencil:before { content: '\62'; } /* 'b' */
.icon-cancel:before { content: '\72'; } /* 'r' */
.icon-ccw:before { content: '\6a'; } /* 'j' */
.icon-export:before { content: '\6c'; } /* 'l' */
.icon-comment:before { content: '\63'; } /* 'c' */
.icon-share:before { content: '\64'; } /* 'd' */
.icon-down-open:before { content: '\66'; } /* 'f' */
.icon-left-open:before { content: '\67'; } /* 'g' */
.icon-right-open:before { content: '\68'; } /* 'h' */
.icon-up-open:before { content: '\69'; } /* 'i' */
.icon-twitter:before { content: '\70'; } /* 'p' */
.icon-facebook:before { content: '\6f'; } /* 'o' */
.icon-gplus:before { content: '\71'; } /* 'q' */
.icon-picture:before { content: '\6e'; } /* 'n' */
.icon-floppy:before { content: '\6b'; } /* 'k' */
.icon-download:before { content: '\61'; } /* 'a' */
.icon-link:before { content: '\6d'; } /* 'm' */
.icon-clock:before { content: '\65'; } /* 'e' */

/*==============================================================================*/
/* General */
/*==============================================================================*/
html {
	overflow-y: scroll;	
}

body {
	background: #f7f6f1;
	color: #5c5952;
	font: normal 100%/1.5 helvetica, arial, sans-serif;
	-webkit-font-smoothing: antialiased;	
	-webkit-text-size-adjust: 100%;	
}

.container {	
	margin: 0 auto;
	padding: 0 0 40px;
	width: 800px;
}

.no-canvas .container {
	height: auto;	
}

/*==============================================================================*/
/* Typography */
/*==============================================================================*/
h3 {
	color: #a49e90;
	font-family: 'vinyl', helvetica, arial, sans-serif;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: -1px;
	line-height: 22px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, h3 { letter-spacing: -2px; }

h4 {
	font-family: 'vinyl', helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -1px;
	margin: 0 0 5px;
	text-transform: uppercase;
}

a {
	color: #cc5c4d;
	text-decoration: none;	
}

a,
button {
	transition: all 300ms;
}

a:hover,
a:focus {
	color: #5c5952;
	transition: none;
}

a:active {
	opacity: .5;
	transition: none;
}

p {
	font-size: 14px;
	margin: 0 0 25px;	
}

ul {
	list-style: inside circle;
	margin: 0 0 25px;	
}

ol {
	list-style: inside lower-alpha;	
	margin: 0 0 25px 0;
}

ol ol {
	list-style: inside lower-roman;
	margin: 0 0 0 25px;
}

li {
	font-size: 14px;	
}

[class*="entypo-"]:before {
	font-family: 'entypo', sans-serif;
	font-weight: normal !important;	
}

::-moz-selection {
	background: #f2ebc5 !important;
	color: #5c5952 !important;
	text-shadow: none !important;
}

::selection {
	background: #f2ebc5 !important;	
	color: #5c5952 !important;
	text-shadow: none !important;
}

/*==============================================================================*/
/* Navigation */
/*==============================================================================*/
nav {
	background: #5c5952;
	height: 40px;
	margin: 0 0 30px;
	text-align: left;
}

nav .inner {
	margin: 0 auto;
	width: 800px;	
}

nav a {
	color: #f7f6f1;
	display: block;
	float: left;
	font-family: 'vinyl', helvetica, arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	padding: 0 25px;
	position: relative;
	text-transform: uppercase;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, nav a { letter-spacing: -1px; }

nav a:hover,
nav a:focus {
	background: #3f3d37;
	color: #f7f6f1;
}

nav a.current {
	background: #837e73;
}

nav a.current:before {
	border-top: 6px solid #837e73;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	bottom: -6px;
	content: '';
	left: 50%;
	margin: 0 0 0 -6px;
	position: absolute;
}

/*==============================================================================*/
/* Header */
/*==============================================================================*/
header {
	font-family: 'vinyl', helvetica, arial, sans-serif;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0 0 30px;	
}

h1 {
	float: left;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: -1px;	
	text-transform: uppercase;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, h1 { letter-spacing: -4px; }

h1 a {
	color: #5c5952;	
}

h1 a:hover,
h1 a:focus {
	color: #898375;	
}

h2 {
	display: inline-block;
	float: right;
	font-size: 16px;
	font-weight: 400;	
	text-transform: uppercase;
	transition: opacity 600ms;
	vertical-align: middle;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, h2 { letter-spacing: -1px; }

h2 i {
	background: #fff;
	border-bottom: 3px solid #e5ddc8;
	display: inline-block;
	font-size: 18px;
	font-style: normal;
	height: 30px;
	line-height: 31px;
	margin: 0 3px 0 0;
	text-align: center;	
	vertical-align: middle;
	width: 36px;	
}

h2 i.last {
	margin-right: 0;
}

h2 span {
	color: #bdb295;
	padding: 0 10px;	
}

h2 span:last-child {
	padding-right: 0;	
}

.no-canvas .directions-title {
	display: none;	
}

.directions-title.hidden {
	opacity: 0;
}

/*==============================================================================*/
/* Loader */
/*==============================================================================*/
.loader {
	background: url(../img/250-235-215-60.png);
	background: rgba(250, 235, 215, .6);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;	
	right: 0;
	top: 0;	
	z-index: 10;
}

.loader img {
	border-radius: 100%;
	display: block;
	left: 50%;
	margin: -12px 0 0 -12px;
	position: absolute;
	top: 50%;
}

/*==============================================================================*/
/* Canvas */
/*==============================================================================*/
.canvas-wrap {
	clear: both;
	margin: 0 0 40px;
	position: relative;
}

.canvas-wrap canvas {
	display: block;
	height: 600px;
	margin: 0;	
	width: 800px;
}

.canvas-wrap .placeholder {
	display: block;
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
}

.canvas-wrap .no-canvas-skitch {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	opacity: 0;
}

.no-canvas .canvas-wrap .no-canvas-skitch {
	display: block;	
}

/*==============================================================================*/
/* No Canvas Overlay */
/*==============================================================================*/
.no-canvas-overlay {	
	display: none;
	float: right;
	font-family: helvetica, arial, sans-serif;
	font-size: 15px;	
	height: 40px;	
	left: 50%;
	line-height: 20px;
	margin: 0 0 0 -250px;
	position: absolute;
	text-align: center;
	transition: opacity 600ms;
	top: 240px;
	vertical-align: middle;
	width: 500px;
}

.no-canvas .no-canvas-overlay {
	display: block;	
}

.no-canvas-overlay span {
	color: #bdb295;
	color: #5c5952;
	padding: 0 10px;	
}

/*==============================================================================*/
/* Directions Overlay */
/*==============================================================================*/
.directions-overlay {	
	display: inline-block;
	float: right;
	font-family: 'vinyl', helvetica, arial, sans-serif;
	font-size: 16px;	
	font-weight: 400;
	height: 40px;	
	left: 0;
	line-height: 40px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	transition: opacity 600ms;
	top: 240px;
	vertical-align: middle;
	width: 100%;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, .directions-overlay { letter-spacing: -1px; }

.no-canvas .directions-overlay {
	display: none;	
}

.directions-overlay.hidden {
	opacity: 0;
}

.directions-overlay i {
	background: #fff;
	border-bottom: 3px solid #b8b0ad;
	display: inline-block;
	font-size: 18px;
	font-style: normal;
	height: 30px;
	line-height: 31px;
	margin: 0 3px 0 0;
	text-align: center;
	vertical-align: middle;
	width: 36px;	
}

.directions-overlay i.last {
	margin-right: 0;
}

.directions-overlay span {
	color: #bdb295;
	color: #5c5952;
	padding: 0 10px;	
}

.directions-overlay span:last-child {
	padding-right: 0;	
}

/*==============================================================================*/
/* Time Overlay */
/*==============================================================================*/
.time-overlay {
	bottom: 60px;
	color: #a74b3f;	
	font: 400 18px/150px 'vinyl', helvetica, arial, sans-serif;
	height: 150px;
	left: 0;
	position: absolute;	
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.no-canvas .time-overlay {
	bottom: 0;
}

.time-overlay  span.icon-clock {
	color: #a74b3f;
	font-size: 18px;
	margin: 0 3px 0 0;
	vertical-align: middle;
}

.time-overlay span.skitch-date {
	vertical-align: middle;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, .time-overlay span.skitch-date { letter-spacing: -1px; }

/*==============================================================================*/
/* Share Overlay */
/*==============================================================================*/
.share-overlay {
	background: url(../img/250-235-215-60.png);
	background: rgba(250, 235, 215, .6);
	display: none;
	height: 477px;
	left: 0;
	padding: 123px 0 0 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.share-overlay.visible {
	display: block;
}

.share-overlay .share-close {
	background: #cc5c4d;
	color: #f7efee;
	display: block;
	font-size: 26px;
	height: 75px;
	line-height: 75px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 75px;
}

.share-overlay .share-close:hover,
.share-overlay .share-close:focus {
	background: #5c5952;	
}

.share-overlay .block {
	background: #5c5952;
	color: #f7efee;
	display: block;
	font: 18px/55px 'vinyl', helvetica, arial, sans-serif;
	height: 55px;
	margin: 0 125px 1px;
	padding: 0 0 0 50px;
	text-transform: uppercase;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, .share-overlay .block { letter-spacing: -1px; }

.share-overlay a.block {
	padding: 0 50px;	
}

.share-overlay .block span {
	display: inline-block;
	vertical-align: middle;
	width: 95px;	
}

.share-overlay .block input {
	background: #837e73;
	border: none;
	color: #f7efee;
	display: block;
	float: right;
	font-size: 12px;
	letter-spacing: 0;
	height: 55px;
	margin: 0;
	padding: 0 15px;
	transition: all 300ms;
	vertical-align: middle;
	width: 340px;
}

.share-overlay .block input:hover {
	background: #a7a193;
	color: #fff;
	cursor: pointer;
	transition: none;
}

.share-overlay .block i {
	margin: 0 12px 0 0;
}

.share-overlay .share-facebook {
	background: #3b5998;
}

	.share-overlay a.share-facebook:hover,
	.share-overlay a.share-facebook:focus {
		background: #6d85b6;
	}

.share-overlay .share-twitter {
	background: #00aced;
}

	.share-overlay a.share-twitter:hover,
	.share-overlay a.share-twitter:focus {
		background: #6fc8ea;
	}

.share-overlay .share-google-plus {
	background: #da573b;
}

	.share-overlay a.share-google-plus:hover,
	.share-overlay a.share-google-plus:focus {
		background: #ea8a75;
	}

/*==============================================================================*/
/* Controls */
/*==============================================================================*/
.no-canvas .controls {
	display: none;	
}

button {
	background: none;
	border: none;
	box-sizing: border-box;	
	color: #5c5952;
	cursor: pointer;
	display: block;
	float: left;
	font: 400 18px/50px 'vinyl', helvetica, arial, sans-serif;
	height: 60px;
	margin: 0;
	position: relative;
	text-transform: uppercase;
	width: 20%;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, button { letter-spacing: -1px; }

button.disabled {
	cursor: not-allowed;
	opacity: .3;	
}

button span:before {
	color: #a49a80;
	margin: 0 3px 0 0;
}

button:hover,
button:focus {
	background: #e5ddc8;
	color: #43413c;
	transition: none;
}

button:active {
	transition: none;
	opacity: .5;
}

button.disabled:hover,
button.disabled:focus {
	background: none;
	color: #5c5952;
	transition: none;
}

button.disabled:active {
	transition: none;
	opacity: .3;
}

/*==============================================================================*/
/* Disqus Comments */
/*==============================================================================*/
#disqus_thread {
	display: none;	
}

.no-canvas #disqus_thread.has-skitch {
	display: block;	
}

/*==============================================================================*/
/* Skitch Grid */
/*==============================================================================*/
.skitch-grid {
	padding: 0 0 23px;
}

.skitch-grid a {
	background: #cc5c4d;
	display: block;
	float: left;
	margin: 0 16px 16px 0;
	position: relative;
}	

.skitch-grid a.end-row {
	margin-right: 0;
}

.skitch-grid a img {
	display: block;
	height: 192px;
	width: 256px;
}

.skitch-grid a .skitch-info {
	bottom: 0;
	color: #f7efee;
	font: normal 12px/48px helvetica, arial, sans-serif;
	height: 48px;	
	left: 0;
	margin: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.skitch-grid a .skitch-info span.skitch-date {
	vertical-align: middle;
}

.skitch-grid a .skitch-info span.icon-clock {
	color: #a74b3f;
	font-size: 18px;
	margin: 0 3px 0 0;
	vertical-align: middle;
}

.skitch-grid a .skitch-view {
	background: url(../img/250-235-215-60.png);
	background: rgba(250, 235, 215, .6);
	color: #5c5952;
	font: 400 22px/172px 'vinyl', helvetica, arial, sans-serif;
	height: 192px;
	left: 0;
	letter-spacing: -1px;	
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 0;
	transition: all 300ms;
	width: 256px;
	opacity: 0;
}

/* ugly opera browser hack, letter spacing is too loose */
noindex:-o-prefocus, .skitch-grid a .skitch-view { letter-spacing: -2px; }

.skitch-grid a:hover .skitch-view,
.skitch-grid a:focus .skitch-view {
	opacity: 1;
	transition: none;
}

.no-opacity .skitch-grid a .skitch-view {
	display: none;
}

.no-opacity .skitch-grid a:hover .skitch-view,
.no-opacity .skitch-grid a:focus .skitch-view {
	display: block;
}

/*==============================================================================*/
/* Pagination */
/*==============================================================================*/
.pagination {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}

.pagination li {
	display: block;
	float: left;
	margin: 0 1px 0 0;
}

.pagination a {	
	background: #e5ddc8;
	color: #5c5952;
	display: block;
	font-size: 12px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	padding: 0 11px;
}

.pagination a:hover,
.pagination a:focus {
	background: #c1baa8;
	color: #373531;
}

.pagination .current a {
	background: #cc5c4d;
	color:	#f7efee;
}

/*==============================================================================*/
/* Footer */
/*==============================================================================*/
footer {
	
}

footer p {
	color: #afa48a;
	font: normal 12px/1 helvetica, arial, sans-serif;
	margin: 0;	
}

footer a {
	font-weight: bold;	
}

footer .divider {
	color: #afa48a;
	margin: 0 14px;
}

/*==============================================================================*/
/* Webkit Scrollbars */
/*==============================================================================*/
::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-track {
	background: #fff;
	border-left: 1px solid #5c5952;
}

::-webkit-scrollbar-thumb {
	background: #c5beac;
	border-left: 1px solid #5c5952;
}

::-webkit-scrollbar-thumb:hover {
	background: #e5ddc8;
}

/*==============================================================================*/
/* Miscellaneous */
/*==============================================================================*/
.clearfix:before, .clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

hr {
	border: none;
	border-bottom: 3px double #e5ddc8;
	clear: both;
	display: block;
	margin: 0 0 40px;
}

img { 
	-ms-interpolation-mode: bicubic;
}

.image-404 {
	display: block;
	margin: 0 0 30px;
}

.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}